.container {
    height: 100%;
    background: #0a007e center;
    background-size: auto;
    padding-bottom: 3rem;
/* Rectangle 10: */
background-image: -webkit-linear-gradient(44deg, #0C0091 0%, #00A87E 100%);
background-image: -o-linear-gradient(44deg, #0C0091 0%, #00A87E 100%);
background-image: linear-gradient(134deg, #0C0091 0%, #00A87E 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    padding: 10px, 15px;
    color: #fff;
    margin-left: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin-right: 20px;
}

.nav-links li {
    transition: all .2s ease-in-out;
}

.nav-links li:hover {
    transform: scale(1.1);
}

.nav-links li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px 15px;
    color: #fff;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15%;
}

.contentContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: auto;
}

.svgGraphic {
    width: 400px;
    height: 400px;
    margin-right: 200px;
}

.bandera {
    height: 30px;
    width: 40px;
}

.statistics {
    display: flex;
    flex-direction: column;
    height: 90%;
    align-items: center;
    justify-content: center;
}

.statistics h1 {
    color: #fff;
    font-size: 3.2em;
    padding: 5px;
}

.statistics h2 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 2.5em;
    padding: 5px;
}

.statistics h5 {
    font-size: 1.5em;
    padding: 5px;
}

.casos {
    color: rgba(0, 0, 0, 0.9);
}

.ultimaActualizacion {
    font-size: 0.9em;
    color: whitesmoke;
}

.tituloUltimaActualizacion {
    font-size: 1.2em;
    color: whitesmoke;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #16213e;
    height: 30px;
}

.footer h6 {
    font-size: 1em;
}

.icons {
    padding: 15px;
    display: none;
}

.icons i {
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu {
    color: rgba(0, 0, 0, 0.9);
    font-size: 1.6em;
}


@media screen and (max-width: 1000px){

    body {
        overflow-x: hidden;
    }

    .svgGraphic {
        display: none;
    }

    .icons {
        display: block;
        cursor: pointer;
    }

    .logo {
        color: rgba(0, 0, 0, 0.9);
    }

    .navbar {
        height: 10vh;
        background-color: whitesmoke;
    }

    .nav-links {
        position: absolute;
        right: -20px;
        top: 10vh;
        height: 90vh;
        background-color: whitesmoke;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li a{
        font-size: 1.5em;
        color: rgba(0, 0, 0, 0.9);
    }
}

@media screen and (max-width: 600px){
    body {
        font-size: 12px;
    }

    .navbar {
        height: 10vh;
    }

    .nav-links {
        height: 90vh;
        width: 100%;
    }
}

.nav-active {
    transform: translateX(0%);
}


@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}