.navbar {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    width: 100%;
    background-color: #00A87E;
    position: fixed;
    top: 0;
}

.ayduaMedica {
    margin-left: 50px;
}

.linkSintoma {
    text-decoration: none;
}